{{ define "hello" }}

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>HelloWorld</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/static/css/hello.css" />
</head>

<body>
  <div class="container">
    <p>Hello, World! {{ .now }}</p>
  </div><!-- /container -->

  <!-- JavaScript -->
  <script src="/static/js/hello.js"></script>
</body>

</html>

{{ end }}