{{ define "layout" }}

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ .title }}</title>

  <!-- Reset CSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <!-- Layout CSS -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Content CSS -->
  {{ template "css" }}
</head>

<body>
  <div class="container">
    {{ template "content" . }}
  </div><!-- /container -->

  <!-- Layout JavaScript -->
  <script src="/static/js/main.js"></script>
  <!-- Content JavaScript -->
  {{ template "js" }}
</body>

</html>

{{ end }}